button.open 啟動
#overly
.overly-window.popup
    .dialog.popup
        .title-wrap
            h3 上傳簽名檔Abcde
            button.x-btn.close 
                svg(
                    width="12",
                    height="12",
                    viewBox="0 0 12 12",
                    fill="none",
                    xmlns="http://www.w3.org/2000/svg"
                )
                    path(
                        d="M2.4982 0.428624C1.92671 -0.142875 1.00012 -0.142875 0.428624 0.428624C-0.142875 1.00012 -0.142875 1.92671 0.428624 2.4982L3.93042 6L0.428624 9.50179C-0.142875 10.0733 -0.142875 10.9999 0.428624 11.5714C1.00012 12.1429 1.92671 12.1429 2.4982 11.5714L6 8.06958L9.50179 11.5714C10.0733 12.1429 10.9999 12.1429 11.5714 11.5714C12.1429 10.9999 12.1429 10.0733 11.5714 9.50179L8.06958 6L11.5714 2.4982C12.1429 1.92671 12.1429 1.00012 11.5714 0.428624C10.9999 -0.142875 10.0733 -0.142875 9.50179 0.428624L6 3.93042L2.4982 0.428624Z",
                        fill="#7D7D7D",
                        fill-opacity="0.5"
                    )
        //- .sign-button-wrap
            .sign-upload-btn
                h3 上傳簽名檔
                p 我已經有簽名檔了
                img(src="./imgs/downloadbox.png", alt="")


            .sign-create-btn
                h3 創建簽名
                p 直接用滑鼠簽名也可以！
                img(src="./imgs/pen.png", alt="")
        .gray-box
            img(src="./imgs/icon_download.png", alt="")
            h3 點擊上傳/直接拖曳簽名檔案至此
            p 僅提供PDF/PNG/JPG等類型
        .button-wrap
            button.btn_middle.close.btn
                a 上一步
            button.btn_middle.close.btn
                a 匯入簽名



